@charset "UTF-8";
/* CSS Document */

	body {
		margin: 0;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		background-color: #2F2A31;
		background-image: url(../../images/blueberries-blur.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	h1, h2 {
		text-transform: uppercase;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	h1 {
		margin: 40px 0 10px 0;
		font-size: 36px;
	}
	
		h1 + p {
			margin: 10px 0 20px 0;
			padding: 0 40px;
			font-size: 12px;
		}
	
	h2 {
		font-size: 18px;
	}
	
	a {
		padding: 10px 16px;
		color: #CCCCCC;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
	}
	
/* Header */

	header {
		top: 0;
		height: 90px;
		width: 100%;
		background-color: #FFFFFF;
		border-bottom: 1px solid #F90;
		box-shadow: 0 1px 24px 0 #888888;
	}
	
		header a {
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
		
			header:hover a {
				color: #888888;
			}
				
	/* header.sticky {
		position: fixed;
		height: 56px;
		background-color: #FFFFFF;
		background-color: rgba(255, 255, 255, 0.85);
	}
	
		header.sticky a {
			color: #444444;
		}
		
			header.sticky a:hover {
				color: #FFFFFF;
			} */
	
	#logo {
		display: inline-block;
		margin: 54px 0 0 20px;
		left: 0;
		width: 260px;
	}
	
	nav {
		float: right;
		margin: 54px 20px 0 0;
		right: 0;
		width: 340px;
	}
	
		nav a:hover {
			color: #FFFFFF;
			background-color: #F90;
		}
	
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
		}
		
			nav ul li {
				display: inline;
				margin: 0;
			}
	
		@media screen and (max-width: 780px) {
			
			header {
				min-width: 500px;
			}
			
				header:hover {
					background-color: #F66;
				}
			
			#logo {
				margin: 24px auto 0 auto;
				width: 100%;
				color: #444444;
				text-align: center;
			}
			
			nav {
				margin: 10px auto;
				float: none;
				height: 46px;
				width: 100%;
				background-color: rgba(210, 90, 90, 0.4);
				/* border-bottom: 2px solid #F66; */
			}
			
				nav ul {
					padding: 10px 0 0 0;
					text-align: center;
				}
			
		}

/* Section */

	section {
		margin: 50px auto;
		width: 920px;
		border-radius: 2em;
	}
	
	#nutrients-container {
		margin: 10px;
		top: 0;
		left: 0;
		height: 540px;
		width: 260px;
		text-align: center;
		background-color: #777777;
		box-shadow: 0 1px 18px 0 #888888;
		overflow: hidden;
	}
	
	.article-header {
		margin: 0;
		top: 0;
		height: 48px;
		color: #888888;
		line-height: 48px;
		background-color:#FFFFFF;
		border-bottom: 1px solid #F90;
		box-shadow: 0 1px 8px 0 #444444;
	}
	
		.nutrients-list {
			list-style: none;
			margin: 0;
			padding: 0;
			top: 0;
			left: 0;
			height: 100%;
			overflow: scroll;	
		}
		
			.nutrients-list li {
				margin: 6px 20px;
				top: 0;
				left: 0;
				border-bottom: 1px solid #CCCCCC;	
			}
			
				.nutrients-list li a {
					margin: 6px 0;
					padding: 6px 0;
					color: #FFFFFF;
						
				}
				
					.nutrients-list li a:hover {
						margin: 0;
						padding: 0;
						width: 260px;
						background-color: #F90;
						border-bottom: 1px solid #F90;	
					}
	
	
	.center-align {
		text-align: center;
	}
		
	footer {
		position: fixed;
		bottom: 0;
		height: 40px;
		width: 100%;
		background-color: #444444;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
		footer:hover {
			height: 100px;
			background-color: #555555;
		}