@charset "UTF-8";
/* CSS Document */

	body {
		margin: 0;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		background-color: #F7F7F7;
	}
	
	h1, h2 {
		font-weight: bold;
	}
	
	h1 {
		font-size: 40px;
		text-transform: uppercase;
	}
	
		h1 + p {
			margin: -25px auto 20px auto;
			padding: 0;
			font-size: 18px;
		}
	
	h2 {
		font-size: 28px;
	}
	
	h3 {
		font-size: 21px;
		font-weight: bold;
	}
	
	p {
		margin: 30px auto;
		padding: 0 auto;
		font-size: 14px;
		color: #777777;
	}
	
		p.large-text {
			font-size: 21px;
			line-height: 34px;
		}
		
		p.small-text {
			font-size: 16px;
			line-height: 28px;
		}
	
	a {
		padding: 10px 16px 8px 16px;
		color: #979B9D;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
	}
	
		a:hover {
			color: #FF3E5B;
			border-bottom: solid 2px #FF3E5B;
		}
		
	.button {
		display: inline-block;
		margin: 10px 20px;
		padding: 8px 28px;
		top: 0;
		height: 48px;
		line-height: 48px;
	}
	
		.button.light {
			color: #FFFFFF;
			background-color: transparent;
			border: solid 1px #FFFFFF;
		}
		
			.button.light:hover {
				color: #979B9D;
				background-color: #FFFFFF;
			}
			
		.button.dark {
			color: #979B9D;
			background-color: transparent;
			border: solid 1px #979B9D;
		}
		
			.button.dark:hover {
				color: #FFFFFF;
				background-color: #979B9D;
			}
			
	::-moz-selection {
		color: #FFFFFF;
		background: #FF3E5B;
	}
	
	::selection {
		color: #FFFFFF;
		background: #FF3E5B;
	}

	
/* Header */

	header {
		position: fixed;
		margin: 0;
		top: 0;
		height: 68px;
		width: 100%;
		background-color: #FFFFFF;
		border-bottom: solid 1px #FFFFFF;
		box-shadow: 0 -2px 6px 0 #444444;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
		z-index: 1000;
	}
	
		header.sticky {
			position: fixed;
			top: -24px;
		}
	
	#header-container {
		position: relative;
		margin: 0 auto 40px auto;
		top: 0;
		height: 68px;
		width: 100%;
		max-width: 1098px;
		background-color: transparent;
		z-index: 1001;
	}
	
	#logo {
		display: inline-block;
		margin: 34px 0 0 0;
		left: 0;
		width: 260px;
	}
	
	nav {
		float: right;
		margin: 34px 0 0 0;
		right: 0;
		width: 340px;
	}
	
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
		}
		
			nav ul li {
				display: inline;
				margin: 0;
			}

/* Section */

	section {
		width: 100%;
	}
	
	#hero {
		position: relative;
		top
		height: 620px;
		background-image: url(../../images/protein.jpg);
		background-size: 100%;
		background-position: center -60px;
		background-attachment: fixed;
	}
	
		/* #hero.sticky {
			top: -80px;
			height: 600px;
			padding: 70px 0 0 0;
		} */
	
	.image-span {
		color: #FFFFFF;
		background-color: #979B9D;
	}
	
	.banner {
		position: relative;
		margin: 0 auto;
		padding: 60px 0;
		width: 80%;
		height: 320px;
		max-width: 920px;
		color: #FFFFFF;
		text-align: center;
		z-index: 100;
	}
	
		.banner p {
			color: #FFFFFF;
		}
		
	.banner.hero-banner {
		margin: 0 auto;
		padding: 180px 0 90px 0;
	}
	
	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(241deg, #7fe04f, #67c8ff, #fc95fb, #fab63f);
		background-size: 600% 600%;
		
		-webkit-animation: AnimationName 20s ease infinite;
		-moz-animation: AnimationName 20s ease infinite;
		animation: AnimationName 20s ease infinite;
		opacity: 0.15;
		z-index: 10;
	}
		
	@-webkit-keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	
	.content {
		margin: 60px auto;
		width: 85%;
		max-width: 960px;
		color: #777777;
	}
	
		.content h2, .content h3 {
			color: #979B9D;
		}
	
	.accordion {
		list-style-type: none;
	}
	
		.accordion > li {
			border-bottom: solid 1px #AAAAAA;
		}
	
	.modular-section {
		margin: 0 auto;
		padding: 26px 30px 14px 30px;
	}
	
		.modular-section h3, .modular-section p {
			margin: 0 0 10px 0;
			padding: 0 40px 0 0;
		}
		
		.modular-section:hover {
			cursor: pointer;
			/* color: white;
			background-color: rgba(255, 0, 0, 0.1); */
		}
	
	.letter-symbol {
		float: left;
		margin: 0 40px 40px 0;
		width: 100px;
		height: 100px;
		color: #AAAAAA;
		text-align: center;
		font-size: 48px;
		line-height: 106px;
		border: solid 3px #AAAAAA;
		-webkit-border-radius: 52px;
		-moz-border-radius: 52px;
		border-radius: 52px;
	}
		
		.modular-section.proximates:hover .letter-symbol, .modular-section.proximates:hover h3 {
			color: #67c8ff;
			border-color: #67c8ff;
		}
		
		/* .modular-section.proximates:hover {
			padding-bottom: 29px;
			border-bottom: solid 2px #67c8ff;
		} */
		
		.modular-section.minerals:hover .letter-symbol, .modular-section.minerals:hover h3 {
			color: #7fe04f;
			border-color: #7fe04f;
		}
		
		/* .modular-section.minerals:hover {
			padding-bottom: 29px;
			border-bottom: solid 2px #7fe04f;
		} */
		
		.modular-section.vitamins:hover .letter-symbol, .modular-section.vitamins:hover h3 {
			color: #fc95fb;
			border-color: #fc95fb;
		}
		
		.modular-section.lipids:hover .letter-symbol, .modular-section.lipids:hover h3 {
			color: #fab63f;
			border-color: #fab63f;
		}
		
	.nutrient-list {
		margin: 0 0 30px 132px;
		width: 280px;
	}
				
		.nutrient-list li a {
			display: block;
			padding: 4px 10px;
			width: 100%;
			color: #777777;
			font-size: 16px;
			font-weight: normal;
			text-transform: capitalize;
			border-bottom: solid 1px #CCCCCC;
		}
			
			.nutrient-list.proximates li a:hover {
				color: #FFFFFF;
				background-color: #67c8ff;
				border-bottom: solid 1px #67c8ff;
			}
			
			.nutrient-list.minerals li a:hover {
				color: #FFFFFF;
				background-color: #7fe04f;
				border-bottom: solid 1px #7fe04f;
			}
			
			.nutrient-list.vitamins li a:hover {
				color: #FFFFFF;
				background-color: #fc95fb;
				border-bottom: solid 1px #fc95fb;
			}
			
			.nutrient-list.lipids li a:hover {
				color: #FFFFFF;
				background-color: #fab63f;
				border-bottom: solid 1px #fab63f;
			}
	
	.button-container {
		margin: 48px auto;
		padding: 0 40px;
		text-align: center;
		background-color: transparent;
	}
	
	.grid-block {
		display: inline-block;
		position: relative;
		margin: 20px 5px;
		padding: 0;
		width: 22%;
		height: auto;
		background-color: #AAAAAA;
		border: solid 1px #CCCCCC;
		box-shadow: 0 1px 2px 0 #EEEEEE;
		/* background-image: url(../../../website/images/rome-apple.jpg);
		background-size: cover; */
	}
	
	.grid-block-content {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		margin: 0;
		padding: 10px 20px;
		height: 170px;
		color: #FFFFFF;
		text-align: center;
		line-height: 18px;
		background-color: transparent;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		z-index: 11;
	}
		.grid-block-content p {
			color: #FFFFFF;
			font-size: 14px;
		}
	
		.grid-block:hover .grid-block-content {
			visibility: visible;
			background-color: rgba(0, 0, 0, 0.6);
		}
	
	.grid-block-image {
		padding: 0;
		width: 100%;
		height: 190px;
		background-color: #444444;
		/* background-image: url(../../../website/images/rome-apple.jpg);
		background-size: cover; */
		z-index: 10;
	}
	
	.grid-block-name {
		margin: 0;
		padding: 10px;
		color: #AAAAAA;
		text-align: center;
		line-height: 10px;
		background-color: #FFFFFF;	
	}
	
	.hideme {
		opacity: 0;
	}
	
	.accordion-panel {
		display: none;
	}
			
	footer {
		height: 320px;
		width: 100%;
		background-color: #444444;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
		footer:hover {
			background-color: #555555;
