@charset "UTF-8";
/* CSS Document */

	body {
		margin: 0;
		font-family: 'Raleway', sans-serif;
		background-color: #E9EAED;
	}
	
	h1, h2 {
		font-weight: bold;
	}
	
	h1 {
		font-size: 44px;
		text-transform: uppercase;
	}
	
		h1 + p {
			margin: -15px auto 50px auto;
			padding: 0;
			font-size: 21px;
		}
	
	h2 {
		font-size: 33px;
	}
	
	h3 {
		font-size: 24px;
		font-weight: bold;
	}
	
	h4 {
		font-size: 18px;
		font-weight: bold;
	}
	
	p {
		margin: 30px auto 50px auto;
		padding: 0 auto;
		color: #777777;
		font-size: 19px;
		line-height: 32px;
	}
	
		p.large-text {
			font-size: 21px;
			line-height: 34px;
		}
		
			p.large-text.narrow {
				max-width: 720px;
			}
			
		p.small-text {
			font-size: 14px;
			line-height: 23px;
		}
	
	a {
		color: #999999;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: normal;
	}
	
		a:hover {
			color: #FF6600;
			/* border-bottom: solid 3px #FF6600; */
		}
	
	hr.short {
		margin: 34px auto 50px auto;
		width: 120px;
		text-align: center;
		border: none;
		border-bottom: 4px solid #FF6600;	
	}
	
	.button-container {
		margin: 28px auto 100px auto;
		padding: 0 40px;
		max-width: 900px;
		text-align: center;
		background-color: transparent;
	}
	
		.button-container.tab-list {
			margin: 58px auto 40px auto;
		}
		
	.button {
		display: inline-block;
		margin: 10px 20px;
		padding: 8px 26px;
		top: 0;
		height: 48px;
		font-size: 15px;
		line-height: 48px;
	}
	
		.button:hover {
			cursor: pointer;
		}
	
		.button.light {
			color: #FFFFFF;
			background-color: transparent;
			border: solid 1px #EEEEEE;
		}
		
			.button.light:hover {
				color: #61666C;
				background-color: #FFFFFF;
				border: solid 1px #FFFFFF;
			}
			
		.button.dark {
			color: #AAAAAA;
			background-color: transparent;
			border: solid 1px #AAAAAA;
		}
		
			.button.dark:hover {
				color: #FFFFFF;
				background-color: #FF6600;
				border: solid 1px #FF6600;
			}
			
	.button-small {
		margin: 0 6px;
		padding: 4px 20px;
		top: 0;
		height: 38px;
		font-size: 14px;
		font-weight: normal;
		line-height: 38px;
	}
	
	.centered {
		text-align: center;
	}
			
	::-moz-selection {
		color: #FFFFFF;
		background: #444444;
	}
	
	::selection {
		color: #FFFFFF;
		background: #444444;
	}
	
	.white {
		color: #FFFFFF;
	}

	
/* Header */

	header {
		position: fixed;
		margin: 0;
		top: 0;
		height: 98px;
		width: 100%;
		background-color: #FFFFFF;
		border-bottom: solid 1px #FFFFFF;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		z-index: 1000;
	}
	
		header.sticky {
			position: fixed;
			top: -30px;
			-webkit-box-shadow: 0 -20px 40px 0 #111111;
			-moz-box-shadow: 0 -20px 40px 0 #111111;
			box-shadow: 0 -20px 40px 0 #111111;
		}
	
	#header-container {
		position: relative;
		margin: 0 auto 40px auto;
		padding: 0 70px;
		top: 0;
		height: 68px;
		max-width: 1098px;
		background-color: transparent;
		z-index: 1001;
	}
	
	#logo {
		display: inline-block;
		margin: 58px 0 0 0;
		left: 0;
		width: 260px;
	}
	
		#logo a {
			padding: 10px 10px 18px 10px;
		}
	
	nav {
		float: right;
		margin: 58px 0 0 0;
		right: 0;
		width: 340px;
	}
	
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
		}
		
			nav ul li {
				display: inline;
				margin: 0;
				padding: 0;
			}
			
				nav ul li a {
					margin: 0;
					padding: 10px 10px 17px 10px;
				}
				
	header.sticky logo a:hover, header.sticky nav ul li a:hover {
		color: #444444;
		border-bottom: solid 4px #FF6600;
	}

/* Section */

	section {
		clear: both;
		width: 100%;
	}
	
	#hero {
		position: relative;
		top: 0;
		height: 500px;
		background-size: 100%;
		background-position: center -60px;
		background-attachment: fixed;
		overflow: hidden;
	}
	
		/* #hero.sticky {
			top: -80px;
			height: 600px;
			padding: 70px 0 0 0;
		} */
	
	.image-span {
		color: #FFFFFF;
	}
	
	.home {
		background-image: url(../../images/pomegranate.jpg);
	}
	
	.nutrients {
		background-image: url(../../images/protein.jpg);
	}
	
	.banner {
		position: relative;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		height: 320px;
		color: #FFFFFF;
		text-align: center;
		z-index: 100;
	}
	
		.banner p {
			color: #FFFFFF;
		}
		
	.banner.hero-banner {
		margin: 0 auto;
		padding: 180px 0 90px 0;
		max-width: 720px;
	}
	
	.split-container {
		float: left;
		padding: 40px 0;
		width: 50%;
		height: 320px;
		background-color: #555555;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
		.split-container:hover {
			background-color: #FF6600;
			opacity: 0.8;
		}
		
			/* .split-container:hover hr.short {
				border-bottom-color: #FFFFFF;
			} */
		
		.split-container h2, .split-container p  {
			padding: 0 100px;
		}
		
		.split-container p  {
			padding: 0 140px;
		}
		
	#split-container-one {
		background-image:url(../../images/berries-bandw.jpg);
	}
	
	#split-container-two {
		background-image:url(../../images/chia-seeds-bandw.jpg);
	}
	
	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(241deg, #FF3E5B, #75ace5, #a886ee, #fab63f);
		background-size: 600% 600%;
		
		-webkit-animation: AnimationName 40s ease infinite;
		-moz-animation: AnimationName 40s ease infinite;
		animation: AnimationName 40s ease infinite;
		
		opacity: 0.55;
		z-index: 10;
	}
		
	@-webkit-keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	@keyframes AnimationName {
		0%{background-position:0% 51%}
		50%{background-position:100% 50%}
		100%{background-position:0% 51%}
	}
	
	.content {
		margin: 60px auto;
		padding: 40px 80px;
		max-width: 1080px;
		color: #777777;
		text-align: center;
	}
	
		.content.full {
			width: 100%;
			padding: 0;
			max-width: none;
		}
		
		.content.full.nutrient-content {
			margin: 60px auto -100px auto;
		}
	
		.narrow {
			max-width: 740px;
		}
		
		p.narrow {
			padding: 0 20px;
		}
	
		.content h2, .content h3, .content h4 {
			color: #999999;
		}
		
	.accordion {
		margin: 60px auto;
		padding: 0;
		width: 100%;
		height: auto;
	}
	
		.accordion > li {
		}

		
	.accordion-panel {
		display: none;
		padding: 14px 0 40px 0;
		width: 90%;
		overflow: hidden;
	}
	
		.accordion-panel p {
			padding: 10px 40px;
			color: #FFFFFF;
			/* font-family: Georgia, "Times New Roman", Times, serif; */
			text-transform: none;
		}
	
	.modular-section {
		position: relative;
		margin: 0 auto;
		padding: 30px 60px 14px 60px;
		background-color: #F6F6F6;
		z-index: 100;
	}
	
		.modular-section h3 {
			margin: 0 20px 10px 0;
			padding: 0;
		}
		
		.modular-section p {
			margin: 0 100px 30px 0;
			padding: 0;
		}
		
		.modular-section:hover {
			cursor: pointer;
			background-color: #FFFFFF;
		}
		
		.accordion-control.active.modular-section, .accordion-control.active .accordion-panel {
			background-color: #FFFFFF;
		}
		
		.accordion-control.active .modular-section .p {
			border-bottom: solid 1px #AAAAAA;
		}
	
	.letter-symbol {
		display: inline-block;
		margin: 0 10px 100px 10px;
		width: 100px;
		height: 100px;
		color: #AAAAAA;
		text-align: center;
		font-size: 48px;
		line-height: 100px;
		background-color: #F8F8F8;
		/* border: solid 2px #FFFFFF; */
		-webkit-border-radius: 54px;
		-moz-border-radius: 54px;
		border-radius: 54px;
		-webkit-box-shadow: 0 2px 7px 0 #AAAAAA;
		-moz-box-shadow: 0 2px 7px 0 #AAAAAA;
		box-shadow: 0 2px 7px 0 #AAAAAA;
	}
	
		.letter-symbol:hover {
			cursor: pointer;
			color: #FF6600;
			background-color: #FFFFFF;
		}
		
			.letter-symbol.amino-acids:hover {
				color: #9eee86;
			}
			
				.tab-control.letter-symbol.amino-acids.active {
					color: #9eee86;
					background-color: #FFFFFF;
				}
			
			.letter-symbol.minerals:hover {
				color: #6ed2ce;
			}
			
				.tab-control.letter-symbol.minerals.active {
					color: #6ed2ce;
					background-color: #FFFFFF;
				}
			
			.letter-symbol.proximates:hover {
				color: #75ace5;
			}
			
				.tab-control.letter-symbol.proximates.active {
					color: #75ace5;
					background-color: #FFFFFF;
				}
				
			.letter-symbol.vitamins:hover {
				color: #a886ee;
			}
			
				.tab-control.letter-symbol.vitamins.active {
					color: #a886ee;
					background-color: #FFFFFF;
				}
	
	.arrow {
		position: absolute;
		margin: 40px;
		top: 40px;
		right: 30px;
		width: 24px;
		height: 24px;
		border-top: solid 3px #CCCCCC;
		border-right: solid 3px #CCCCCC;
		-ms-transform: rotate(45deg); /* IE 9 */
    	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    	transform: rotate(45deg);
		-webkit-transition: transform 200ms ease-in-out;
		-moz-transition: transform 200ms ease-in-out;
		-o-transition: transform 200ms ease-in-out;
		transition: transform 200ms ease-in-out;
	}
	
		.accordion-control.active .arrow {
			-ms-transform: rotate(135deg); /* IE 9 */
    		-webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    		transform: rotate(135deg);
		}
		
		
	/* LIPIDS SECTION */
		
		.modular-section.lipids:hover .letter-symbol, .modular-section.lipids:hover h3, .modular-section.lipids:hover .arrow {
			color: #fab63f;
			border-color: #fab63f;
		}
		
		.lipids.accordion-control.active .letter-symbol {
			color: #fab63f;
			border-color: #fab63f;
		}
		
		
	/* MINERALS SECTION HOVER */
		
		.modular-section.minerals:hover .letter-symbol, .modular-section.minerals:hover h3, .modular-section.minerals:hover .arrow  {
			color: #6ed2ce;
			border-color: #6ed2ce;
		}
		
		.minerals.accordion-control.active .letter-symbol {
			color: #6ed2ce;
			border-color: #6ed2ce;
		}


	/* PROXIMATES SECTION HOVER */
		
		.modular-section.proximates:hover .letter-symbol, .modular-section.proximates:hover h3, .modular-section.proximates:hover .arrow {
			color: #75ace5;
			border-color: #75ace5;
		}
		
		.proximates.accordion-control.active .letter-symbol {
			color: #75ace5;
			border-color: #75ace5;
		}
			
		
	/* VITAMINS SECTION HOVER */
		
		.modular-section.vitamins:hover .letter-symbol, .modular-section.vitamins:hover h3, .modular-section.vitamins:hover .arrow {
			color: #a886ee;
			border-color: #a886ee;
		}
		
		.vitamins.accordion-control.active .letter-symbol {
			color: #a886ee;
			border-color: #a886ee;
		}
	
	.nutrient-list-container {
		margin: 40px 0 0 0;
		padding: 30px;
		height: 480px;
		background-color: #403f3e;
		border-top: 8px solid #a4a6ae;
	}
	
		.nutrient-list-container p {
			color: #CCCCCC;
			font-size: 16px;
			line-height: 24px;
			text-align: left;
		}
	
	.nutrient-list-inner-container {
		position: relative;
		margin: 20px auto;
		padding: 10px;
		max-width: 580px;
		height: 548px;
	}
		
	.nutrient-list {
		display: inline-block;
		position: absolute;
		margin: 10px auto 30px auto;
		left: -130px;
		width: 380px;
		color: #AAAAAA;
		text-align: left;
		font-size: 16px;
		font-weight: normal;
	}
	
		.nutrient-list li {
			width: 100%;
		}
				
		.nutrient-list li a {
			display: block;
			margin: 0 0 0 14px;
			padding: 10px 0 10px 14px;
			width: 85%;
			color: #DDDDDD;
			/* font-family: Arial, Helvetica, sans-serif; */
			text-transform: none;
			border-bottom: solid 1px #5d5e63;
		}
			
			.nutrient-list li a:hover {
				cursor: pointer;
				color: #FFFFFF;
				background-color: #5d5e63;
				/* border-bottom: solid 1px #FF6600; */
			}
			
			.nutrient-list.amino-acids li a.active {
				cursor: pointer;
				color: #FFFFFF;
				background-color: #9eee86;
			}
			
			.nutrient-list.minerals li a.active {
				cursor: pointer;
				color: #FFFFFF;
				background-color: #6ed2ce;
			}
			
			.nutrient-list.proximates li a.active {
				cursor: pointer;
				color: #FFFFFF;
				background-color: #75ace5;
			}
			
			.nutrient-list.vitamins li a.active {
				cursor: pointer;
				color: #FFFFFF;
				background-color: #a886ee;
			}
			
				.nutrient-list li.accordion-control.active a {
					color: #FFFFFF;
					border-bottom: solid 2px #FFFFFF;
				}
				
					.nutrient-list li.accordion-control.active a:hover {
						color: #5B5E62;
						background-color: #FFFFFF;
						border-bottom: solid 2px #FFFFFF;
					}
					
	.nutrient-info-list {
		list-style: none;
		margin: 6px 0 14px -12px;
		width: 540px;
		text-align: left;
	}
	
		.nutrient-info-list li {
			display: inline;
			margin: 0 2px;
		}
		
			.nutrient-info-list li a {
				padding: 4px 6px 10px 6px;
				font-size: 16px;
				text-transform: capitalize;
			}
			
				.nutrient-info-list li a:hover {
					color: #FFFFFF;
					/* border-bottom: 4px solid #777777; */
				}
				
				.nutrient-info-list.amino-acids li a.active {
					color: #FFFFFF;
					border-bottom: 4px solid #9eee86;
				}
				
				.nutrient-info-list.minerals li a.active {
					color: #FFFFFF;
					border-bottom: 4px solid #6ed2ce;
				}
				
				.nutrient-info-list.proximates li a.active {
					color: #FFFFFF;
					border-bottom: 4px solid #75ace5;
				}
				
				.nutrient-info-list.vitamins li a.active {
					color: #FFFFFF;
					border-bottom: 4px solid #a886ee;
				}
	
	.tab-panel {
		display: none;
		margin: 0 auto;
		padding: 0;
		width: 580px;
		z-index: 1000;
	}
	
		.tab-panel h2 {
			margin: -100px auto 20px auto;
			color: #AAAAAA;
		}
	
		.tab-panel p {
			margin: 0 auto;
			color: #CCCCCC;
			font-family: Arial, Helvetica, sans-serif;
			color: #999999;
			font-size: 16px;
			line-height: 24px;
			text-align: left;
		}
		
	.tab-panel-nutrients {
		display: none;
		position: absolute;
		margin: 0;
		padding: 0 20px;
		left: 276px;
		width: 400px;
		z-index: 1;
	}
	
		.tab-panel-nutrients p {
			margin: -30px auto 0 auto;
			padding: 50px 0 0 30px;
			color: #CCCCCC;
			font-size: 16px;
			line-height: 22px;
			text-align: left;
			/* font-family: Arial, Helvetica, sans-serif; */
		}
		
	.tab-panel-descriptions {
		display: none;
	}
		
		.tab-panel-nutrients p {
			border-left: solid 2px #5d5e63;
		}
	
		.tab-panel.active, .tab-panel-nutrients.active, .tab-panel-descriptions.active {
			display: inline;
		}
		
		.tab-panel.button-container {
			/* padding-left: 30px; */
		}
	
	
	.button-small.amino-acids {
		color: #CCCCCC;
		background-color: transparent;
		border: solid 1px #CCCCCC;
	}
		
		.button-small.amino-acids:hover {
			color: #FFFFFF;
			background-color: #9eee86;
			border: solid 1px #9eee86;
		}	
	
	.button-small.lipids {
		color: #fab63f;
		background-color: transparent;
		border: solid 1px #fab63f;
	}
		
		.button-small.lipids:hover {
			color: #FFFFFF;
			background-color: #fab63f;
			border: solid 1px #fab63f;
		}
		
	.button-small.minerals {
		color: #CCCCCC;
		background-color: transparent;
		border: solid 1px #CCCCCC;
	}
		
		.button-small.minerals:hover {
			color: #FFFFFF;
			background-color: #6ed2ce;
			border: solid 1px #6ed2ce;
		}
		
	.button-small.proximates {
		color: #CCCCCC;
		background-color: transparent;
		border: solid 1px #CCCCCC;
	}
		
		.button-small.proximates:hover {
			color: #FFFFFF;
			background-color: #75ace5;
			border: solid 1px #75ace5;
		}
		
	.button-small.vitamins {
		color: #CCCCCC;
		background-color: transparent;
		border: solid 1px #CCCCCC;
	}
		
		.button-small.vitamins:hover {
			color: #FFFFFF;
			background-color: #a886ee;
			border: solid 1px #a886ee;
		}
	
		
	.button-small {
		color: #AAAAAA;
		background-color: transparent;
		border: solid 1px #AAAAAA;
	}
		
		.button-small:hover {
			color: #FF6600;
			background-color: transparent;
			border: solid 1px #FF6600;
		}
	
	/* .button-small {
		color: #FF6600;
		background-color: transparent;
		border: solid 1px #FF6600;
	}
		
		.button-small:hover {
			color: #FFFFFF;
			background-color: #FF6600;
			border: solid 1px #FF6600;
		} */
	
	.grid-block {
		display: inline-block;
		position: relative;
		margin: 20px 5px;
		padding: 0;
		width: 22%;
		height: auto;
		background-color: #AAAAAA;
		border: solid 1px #CCCCCC;
		box-shadow: 0 1px 2px 0 #EEEEEE;
		/* background-image: url(../../../website/images/rome-apple.jpg);
		background-size: cover; */
	}
	
	.grid-block-content {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		margin: 0;
		padding: 10px 20px;
		height: 170px;
		color: #FFFFFF;
		text-align: center;
		line-height: 18px;
		background-color: transparent;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		z-index: 11;
	}
		.grid-block-content p {
			color: #FFFFFF;
			font-size: 14px;
		}
	
		.grid-block:hover .grid-block-content {
			visibility: visible;
			background-color: rgba(0, 0, 0, 0.6);
		}
	
	.grid-block-image {
		padding: 0;
		width: 100%;
		height: 190px;
		background-color: #444444;
		/* background-image: url(../../../website/images/rome-apple.jpg);
		background-size: cover; */
		z-index: 10;
	}
	
	.grid-block-name {
		margin: 0;
		padding: 10px;
		color: #AAAAAA;
		text-align: center;
		line-height: 10px;
		background-color: #FFFFFF;	
	}
	
	.hideme {
		opacity: 0;
	}
			
	footer {
		height: 320px;
		width: 100%;
		background-color: #444444;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
		footer:hover {
			background-color: #555555;
		}